/*header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: lightblue;
    height: 70px;
    display: flex;
    align-items: center; 
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.lightblue{
    display: flex;     
}
.square{
    background-color: goldenrod;
    border: 1px dashed black;
    padding: 5px;
}
.small{
    width: calc(100%/4);
}
.large{
    width: calc(100%/2);
}
.link{
    text-align: center;
}
.login{
    text-align: right;
}
/*main*/
/*square-1*/
.sfondo{
    background-color: blue;
    height: 400px;
    display: flex;
    align-items: center;
}
.container-1{
    width: 800px;
    margin: 0 auto;
}
.pink{
    background-color: rgb(195, 76, 206);
    height: 300px;
    border: 1px dashed black;
}
